* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.jumbotron hr {
	background-color: #fff;
}

#jumbo-land {
	padding-top: 25%;
	height: 100vh;
	background-color: #333;
	border-radius: 0;
}


.btn a {
	text-decoration: none;
	color: #fff;
}

.jumbotron h1 {
	color: #f2f2f2;
}

.carousel-item .img-fluid {
	max-height: 500px;
	width: 100%;
}

#home-landing {
	background-color: #333;
	padding: 30%;
	color: #fff;
}

#jumbotron-about {
	background-color: #141414;
	height: 90vh;
	border-radius: 0;
}

#landing-about {
	color: #f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
}	

.fadeIn {
	animation-duration: 5s;
}

.about-tags {
	font-weight: bold;
}

#mission {
	height: 100%;
	background-color: #141414;
	color: #f2f2f2;
}

#vision {
	height: 100%;
	background-color: #f2f2f2;
	color: #141414
}
